h1{
    font-weight: 900;
}
body{
  background-color: lightgray;
}
.page{
    width: 1300px;    
    background-color: white;   
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}
.vis-container{
  width: 100%;
}
.description h2, h1{
  margin-top:0px;
}

.description {
  width: 550px;
  text-align: justify; 
  text-justify: inter-word;
}

.description-right {
  padding-left: 20px;
}
.description-left{
  padding-right: 20px;
}
.pure-g{
  margin-bottom: 25px;
  text-align: justify; 
  text-justify: inter-word;
}
.small-font{
    font-size: 14px;
}

.instructions {
  width: 500px; 
  font-size: small;
  font-style: italic;
}